name: lint-and-build
on: [push, pull_request]

jobs:
  lint:
    name: Lint codes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install pnpm
        run: sudo npm i -g pnpm
      - name: Install modules
        run: pnpm install
      - name: Run linter
        run: pnpm run lint

  build-docker-image:
    name: Build docker image
    needs: lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set outputs
      id: vars
      run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to GitHub Packages Docker Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ghcr.io/madebaruna/paimon-moe-api:${{ steps.vars.outputs.sha_short }},ghcr.io/madebaruna/paimon-moe-api:latest